#about-me-section {
    padding: 60px 0;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  }
  
  .about-me-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;/* Align text to the left */
  }
  
  h2 {
    font-size: 8em;
    color:black;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    letter-spacing: 2px;
  }
  
  p {
    font-size: 1.5em;
    color:black;
    line-height: 1.6;
  }
  /* Responsive styles for screens up to 768px wide */
@media (max-width: 768px) {
  h2 {
      font-size: 4em;
  }

  p {
      font-size: 1.2em;
  }
}