/* Projects.css */

#projects {
    padding: 80px 0;
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.centered-content {
    margin-bottom: 20px;
}

.spacer {
    height: 20px;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* Single column by default */
    gap: 20px;
    justify-items: center;
}

/* Add a media query for medium-sized screens */
@media (min-width: 768px) {
    .projects-container {
        grid-template-columns: repeat(2, 1fr); /* Two columns for medium-sized screens */
    }
}

/* Add a media query for large screens */
@media (min-width: 1024px) {
    .projects-container {
        grid-template-columns: repeat(3, 1fr); /* Three columns for large screens */
    }
}

.project-card {
    width: 100%;
    max-width: 300px; /* Limit the width for better readability on larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 12px;
    background: rgb(241, 232, 232);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.centered-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
}

.project-card:hover {
    background: linear-gradient(45deg, #4CAF50, #24292E);
    box-shadow: 0 12px 18px rgba(0, 0, 0, 0.14);
}

.project-card img.project-image {
    max-width: 100%; /* Ensure the image doesn't exceed its container */
    height: auto;
    margin-bottom: 20px;
    border-radius: 12px;
}

.project-card h3 {
    font-weight: bold;
    font-size: 1.3em;
    color: #2a2a2a;
    margin-bottom: 10px;
}

.project-card p {
    text-align: center;
    font-size: 0.95em;
    color: #666;
    margin-bottom: 20px;
}

.project-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.project-links a {
    padding: 20px 20px;
    border-radius: 30px;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
}

.project-links a:first-child {
    background-color: #4CAF50;
    color: #fff;
}

.project-links a:last-child {
    background-color: #24292E;
    color: #fff;
}

.project-links a:hover {
    opacity: 0.9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}
